@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 300, 600, 700);


@font-face {
  font-family: ffont;
  src: url(Lora-Bold.ttf);
}

@font-face {
  font-family: ifont;
  src: url(Lora-Italic.ttf);
}

html, body {
  height: 100%;
}

body {
  background: rgb(0, 0, 0);
  overflow-x: hidden;
}
/*Wave*/
.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
 
.wave {
  background: url(../img/6.png) repeat-x;
  position: absolute;
  top: -13vw;
  width: 6400px;
  height: 198px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -12vw;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@-webkit-keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}
@keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}



/*navi*/
.logo {
  z-index:1000;
  position: fixed;
  left:20px;
	top: 20px;
}

.hamburger-shell {
  margin: 0;
  z-index:1000;
	position: fixed;
	overflow: hidden;
	width: 70px;
	height: 100px;
	overflow: auto;
	left: calc(100% - 100px);
	top: 20px;
}

.top, .middle, .bottom{
	position: absolute;
	width: 45px;
  height: 5px;
	background-color: rgb(255, 0, 0);
	transition: all 350ms ease-in-out;
	top: 15px;
}

.middle {
	top: 25px;
}

.bottom{
  top:35px;
}
#menu {
  z-index:100;
	position: fixed;
	color: rgb(255, 255, 255);
  display: none;
  background-color: #000000;
  opacity:0.9;
	text-decoration: none;
	font-weight: 100;
	font-size: 50px;
	padding: 24px;
  width: 100%;
  height: 100%;
	text-align: center;
}

#menu a li {
	text-decoration: none!important;
  padding-bottom: 10px;
  font-size:45px;
	margin-bottom: 12px;
  list-style: none;
  font-family:ffont;
	color: rgb(255, 255, 255);
	transition: all 150ms ease;
}

#menu a li:hover {
  font-size:50px;
	color: #ffffff;
}

#menu a li:hover:after {
}

#menu a {
	text-decoration: none;
}

.disap{
  background-color:transparent;
}
.rotate {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 30px;
	background-color: rgb(255, 0, 0);
  height: 5px;

}

.rotate-back {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
  top: 30px;
  background-color: rgb(255, 0, 0);
	height: 5px;
}

.top {
-webkit-animation-delay: 100ms;
}

.middle {
-webkit-animation-delay: 250ms;
}

.bottom {
	-webkit-animation-delay: 10ms;
}

/*content*/

h1{
  text-align:center;
  color:white;
  padding-top:290px;
  }

h2{
    text-align:center;
    padding-top:40px;
    font-size:4vw;
    font-family:ifont;

    color:black;
    }
  
    
h3{
  text-align:justify;
  padding-top:20px;
  font-size:2vw;
  color:black;
  font-family:ifont;
  }

    
  h5{
    text-align:center;
    padding-top:10px;
    font-size:2vw;
    color:rgb(255, 255, 255);
    }
  
.tag{
  color:white;
  text-align:center;
}
.info{
  color:white;
  text-align:justify;
  text-align:center;
  margin:40px;
  font-family:ifont;
}

/*section*/
section{
  width:100%;
  min-height:auto;
}

#first{
  min-height:625px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 60%;
right:0;
left:0;
top:0;
bottom:0;
}

.column1 {
  float: right;
  width: 40%;
right:0;
height:550px;
left:0;
top:0;
bottom:0;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height:auto;
  }
}
.centered {
  text-align: justify;
  padding:35px;
  padding-top:0;

 }
.img3{
  height:500px;
  margin-top:50px;
  width:400px;
}


/*succeess*/
.success {
  border: 4px solid rgb(255, 255, 255);
  margin: 20px;
  padding:10px;
  max-height:500px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(196, 178, 178, 0);
  transition: background-color 0.5s ease;
}


.sus {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 0;
}


img {
  width: 70%;
  vertical-align: middle;
  margin-left:20%;
}

.row {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.columns {
  float: left;
  display: block;
  margin-bottom: 0px;
  vertical-align: top;
  padding: 0 0px;
  background: red;
}

.columns.three {
  width: 25%;
}



span {
  cursor: pointer;
  transition: all 0.5s;
}

span:hover {
  color: #363636;
  transform: scale(1.5);
}
/* Slider */

.slider {
  position: relative;
  display:inline-block;
  width: 100%;
  min-height: 350px;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
}

.active-slide {
  display: block;
}
/* Controls */


.arrow-prev{
  margin-left: 5%;
  display: inline-block;
  font-size: 3rem;
  color:white;
}

.arrow-next {
  margin-left: 85%;
  display: inline-block;
  font-size: 3rem;
  color:white;
}

.arrow-next:hover,.arrow-prev:hover{
  color:red;
}















.sectionser {
  padding: 60px 0;
  min-height: 100vh;
  margin-top:250px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}.bg-gray {
  background-color: #ffffff;
}

.site-heading h2 {
display: block;
font-weight: 700;
margin-bottom: 10px;
text-transform: uppercase;
}

.site-heading h2 span {
color: #ff0000;
}

.site-heading h4 {
display: inline-block;
padding-bottom: 20px;
position: relative;
text-transform: capitalize;
z-index: 1;
}

.site-heading h4::before {
background: #ff0000 none repeat scroll 0 0;
bottom: 0;
content: "";
height: 2px;
left: 50%;
margin-left: -25px;
position: absolute;
width: 50px;
}

.site-heading {
margin-bottom: 60px;
overflow: hidden;
margin-top: -5px;
}

.carousel-shadow .owl-stage-outer {
margin: -15px -15px 0;
padding: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
background: #ffffff none repeat scroll 0 0;
border: 2px solid;
height: 15px;
margin: 0 5px;
width: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot.active span {
background: #ff0000 none repeat scroll 0 0;
border-color: #ff0000;
}

.we-offer-area .item {
background: #ffffff none repeat scroll 0 0;
border-left: 2px solid #ff0000;
-moz-box-shadow: 0 0 10px #cccccc;
-webkit-box-shadow: 0 0 10px #cccccc;
-o-box-shadow: 0 0 10px #cccccc;
box-shadow: 0 0 10px #cccccc;
overflow: hidden;
padding: 30px;
position: relative;
z-index: 1;
}

.we-offer-area.text-center .item {
background: #ffffff none repeat scroll 0 0;
border: medium none;
padding: 67px 40px 64px;
}

.we-offer-area.text-center .item i {
background: #ff0000 none repeat scroll 0 0;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
color: #ffffff;
font-size: 40px;
height: 80px;
line-height: 80px;
position: relative;
text-align: center;
width: 80px;
z-index: 1;
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-ms-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
margin-bottom: 25px;
}

.we-offer-area.text-center .item i::after {
border: 2px solid #ff0000;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
content: "";
height: 90px;
left: -5px;
position: absolute;
top: -5px;
width: 90px;
z-index: -1;
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-ms-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

.we-offer-area.item-border-less .item {
border: medium none;
}

.we-offer-area .our-offer-items.less-carousel .equal-height {
margin-bottom: 30px;
}

.we-offer-area.item-border-less .item .number {
font-family: "Poppins",sans-serif;
font-size: 50px;
font-weight: 900;
opacity: 0.1;
position: absolute;
right: 30px;
top: 30px;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item,
.we-offer-area.center-active .single-item:nth-child(2n) .item {
background: #ff0000 none repeat scroll 0 0;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item h4,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item i,
.we-offer-area.center-active .single-item:nth-child(2n) .item h4,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
color: #ffffff;
}

.we-offer-area .item i {
color: #ff0000;
display: inline-block;
font-size: 60px;
margin-bottom: 20px;
}

.we-offer-area .item h4 {
font-weight: 600;
text-transform: capitalize;
}

.we-offer-area .item p {
margin: 0;
}

.we-offer-area .item i,
.we-offer-area .item h4,
.we-offer-area .item p {
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-ms-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

.we-offer-area .item::after {
background: #ff0000 none repeat scroll 0 0;
content: "";
height: 100%;
left: -100%;
position: absolute;
top: 0;
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-ms-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
width: 100%;
z-index: -1;
}

.we-offer-area .item:hover::after {
left: 0;
}

.we-offer-area .item:hover i,
.we-offer-area .item:hover h4,
.we-offer-area .item:hover p {
color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i::after {
border-color: #ffffff !important;
}

.we-offer-area.text-center .item:hover i {
background-color: #ffffff !important;
color: #ff0000 !important;
}

.we-offer-area.text-left .item i {
background: #ff0000 none repeat scroll 0 0;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
color: #ffffff;
display: inline-block;
font-size: 60px;
height: 100px;
line-height: 100px;
margin-bottom: 30px;
position: relative;
width: 100px;
z-index: 1;
text-align: center;
}

.we-offer-area.text-left .item i::after {
border: 2px solid #ff0000;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
content: "";
height: 120px;
left: -10px;
position: absolute;
top: -10px;
width: 120px;
}

/*footer*/


.foot{
  color: rgb(0, 0, 0);
  margin-top:50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footfont{
  color:rgb(255, 255, 255);
  text-align:center;
  font-size:2vw;
}

.social-container {
  width: 100%;
  height:35%;
  background-color: #000000;
  transition: all 0.3s ease;
  max-width: 100%;
}

.social-icons {
  list-style: none;
  background-color: #000000;
  text-align: center;
}
.social-icons li {
  display: inline-block;
  margin: 0.4em;
  text-align: right;
  position: relative;
  font-size: 1.8em;
}
.social-icons i {
  color: black;
  position: absolute;
  top: 17px;
  left: 17px;
  text-align: right;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
  text-align: center;

}
.social-icons a:before {
  transform: scale(1);
  text-align: center;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ffffff,#ffffff);  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
  text-align: center;

}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: rgb(255, 255, 255);
  text-align: center;

  background: -webkit-linear-gradient(45deg, white,white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}





/*abbiocco*/

 .btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.btn:hover, .btn:focus {
    opacity: 0.8;
    text-decoration:none;
    border-color:none;
}
.btn:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}

/* Colours */

.inner-div
{
text-align:center;
margin-bottom:20px;
}

.yellow {
    background-color: #fbce33;
    align:center;
}