
  .wrap {
	max-width: 960px;
	min-width: 360px;
	margin: 0 auto;
	position: relative;
  }
  .wrap.sticky {
	margin-top: 150px;
	/* set height from header */
  }
  
  .fluid .wrap {
	max-width: 100% !important;
  }
  
  header {
	background: var(--clr2);
	padding: 50px;
	width: 100%;
	border-radius: var(--border-radius);
	position: relative;
	z-index: 99;
  }
  
  .wrap.sticky header {
	background: var(--clr2);
	padding: 50px;
	position: fixed;
	top: 0px;
	max-width: 960px;
	width: calc(100% - 20px);
	min-width: 360px;
	border-radius: 0px 0px var(--border-radius) var(--border-radius);
  }
  
  .fluid .wrap.sticky header {
	max-width: 100% !important;
  }
  
  header .logo {
	background: var(--clr4);
	width: 50px;
	height: 50px;
	border-radius: var(--text-radius);
  }
  header nav {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-50px, -50%);
  }
  header nav ul li {
	display: inline-block;
	list-style: none;
	width: 60px;
	height: 10px;
	background: var(--clr3);
	border-radius: var(--text-radius);
  }
  
  footer {
	background: var(--clr3);
	padding: 50px;
	width: 100%;
	border-radius: 0;
	position: relative;
  }
  footer .logo {
	background: var(--clr2);
	width: 50px;
	height: 50px;
	border-radius: var(--text-radius);
  }
  footer nav {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-50px, -50%);
  }
  footer nav ul li {
	display: inline-block;
	list-style: none;
	width: 60px;
	height: 10px;
	background: var(--clr2);
	border-radius: var(--text-radius);
  }
  
  
  .wrap {
	z-index: 1;
	position: relative;
	height: 100%;
	padding: 50px 0 0 0;
	background: var(--clr1);
  }
  
  .wrapper {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
	z-index: 1;
  }
  
  footer {
	position: relative;
	z-index: -2;
	height: 270px;
	background: var(--clr4);
  }
  footer .content {
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 110px;
	transform: translate(-50%, 0);
	width: 100%;
	max-width: 960px;
	padding: 0 50px;
  }
  
  section:last-child {
	margin-bottom: 100px;
  }
  
  @keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  -moz-transform: translateY(0);
	  -ms-transform: translateY(0);
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
	40% {
	  -moz-transform: translateY(-30px);
	  -ms-transform: translateY(-30px);
	  -webkit-transform: translateY(-30px);
	  transform: translateY(-30px);
	}
	60% {
	  -moz-transform: translateY(-15px);
	  -ms-transform: translateY(-15px);
	  -webkit-transform: translateY(-15px);
	  transform: translateY(-15px);
	}
  }